@using EnglishHelper.Models.GerundAndInfinitive.Model;
@model GerundAndInfinitiveModel

@{
    ViewBag.Title = "Глагольный помощник";
}

<div class="row">
    <div class="col-md-4">
        <h2>Глагол из словаря</h2>
        <p>
            Введите глагол.<br />
            @using (Html.BeginForm("GerundAndInfinitiveHelper", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(model => model.Word)
                <br />
                @Html.ValidationMessageFor(model => model.Word)
                <br />
                <br />
                <button type="submit">Поиск</button>
            }
        </p>
        <div>  
            @{
                if (Model.OutputData != null)
                {
                    var verb = Model.OutputData.Verb;
                    var translate = Model.OutputData.Translate;
                    var form = Model.OutputData.VerbForm.ToString();
                    var example = Model.OutputData.Example;
                    var explanation = Model.OutputData.Explanation;
                    if (verb != null)
                    {
                        <p>
                            Глагол: @verb <br>
                            Перевод: @translate <br>
                            Используемая форма: @form <br>
                            Пример: @example <br>
                            Объяснение: @explanation
                        </p> 
                    }
                    else 
                    {
                        <p>Слово не найдено!</p>
                    }
                }
            }
        </div>  
    </div>
</div>
